* {
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: row;
	background-color: aqua;
	border: 1px solid green;
	flex-shrink: 0;
}

@media (max-width: 600px) {
	.container {
		flex-direction: column;
	}

	.nav {
		max-width: 150px;
	}

	.text-block {
		max-width: 300px;
	}
}

.nav {
	flex-basis: 30%;
	background-color: bisque;
	height: 25%;
}

.nav ul {
	margin: 20px;
}

.text-block {
	flex-shrink: 4;
	background-color: gray;
}

.text-block p {
	margin: 5px;
}